$text_color : white;
$danger_hover: #f44336;
$header_width: 400px;
$header_height: 70px;
.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: $text_color;
    z-index: 100;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    height: $header_height;
}
.header__leftside {
    width: $header_width;
    
}
.header__leftside > h1 {
text-align: center;
}
.header__right {
    width: $header_width;
    display: flex;
    justify-content: space-evenly;
}
.header__right > button{
    padding: 2px 10px;
    align-items: center;
    cursor: pointer;
   
  
}
.btnn {
    border: 2px solid black;
    background-color: $text_color;
    color: black;
    padding: 0px 17px;
    font-size: 16px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    text-decoration: none;
    margin-top: 10px;
  }
  .dangerr{
    background-color: $text_color;
    border-color: $danger_hover;
    color: red;
    border-radius: 10%;
  }
  .dangerr:hover {
    background: $danger_hover;
    color: $text_color;
  }
